
.alien {
    position: absolute;

    width: 2rem;
    height: 2rem;
}

.alien.explode {
    width: 4rem;
    height: 4rem;
    transform: translate(-1rem, -1rem);

    transition: width 1s, height 1s, transform 1s;
}