
:root {
    --primary  : #4957ed;
    --secondary: #1a958c;
    --warning  : #f2812a;
    --danger   : #ee2935; 
    --success  : #32c622; 
    --light    : #FFFFFF; 
    --dark     : #252526;
    --muted    : #68686d;

    --board    : rgba(0, 0, 0, .75);
    --dark-rgba: rgba(37, 37, 38, .85);
}
