
@import './fonts.css';
@import './colors.css';

@import './board.css';
@import './meters.css';
@import './ship.css';
@import './aliens.css';

html, body {
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;
    
    font-family: Digital;
}

body {
    color: var(--dark);

    background-image: url('../images/backgrounds/01.jpg');
    background-color: var(--dark);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
