
header {
    padding: 1rem;
    background: var(--dark);
    background-image: url('../images/metal.jpg');

    border-top: solid 2px var(--dark);
    border-bottom: solid 2px var(--dark);

    text-align: center;
}

#meters {
    display: inline-block;
    height: 90%;
}
#meters .meters {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 14rem 14rem 14rem;
    height: 100%;
}

#meters .meters h3 {
    padding: 0;
    margin: 0;

    background: var(--success);
    color: var(--dark);
}

#meters .meters .value {
    padding: 1rem;
    overflow: hidden;

    text-align: center;
    color: var(--success);
    font-size: 3rem;
    text-shadow: 0 0 .5rem var(--success);

    background: var(--dark-rgba);
    border: solid 2px var(--dark);
    border-radius: .25rem;
    box-shadow: inset 0 0 .1rem var(--muted);
}

#meters .meters .meter {
    height: 1rem;
    background: linear-gradient(to right, var(--primary), var(--success), var(--warning), var(--danger));
}
#meters .meters .meter span {
    position: relative;
    display: inline-block;
    height: 100%;
    width: .5rem;

    background: var(--dark);
}
