
#ship {
    position: absolute;
    z-index: 2;
    
    width: 2rem;
    height: 2rem;
}

.shot {
    position: absolute;
    z-index: 1;

    width: 1rem;
    height: 1rem;
}

#ship.explode {
    width: 4rem;
    height: 4rem;
    transform: translate(-1rem, -1rem);

    transition: width 1s, height 1s, transform 1s;
}
